@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 20px;
  gap: 60px;
}

.purple {
  color: #6415ff;
}

img {
  width: 100%;
  overflow: hidden;
}

.container {
  padding: 96px 0;
}

h1 {
  color: black;
  font-size: 30px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}

section {
  padding: 0 32px;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

.nav__logo {
  display: flex;
}

.nav__link {
}

.nav_logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
  display: flex;
}

.nav__assets {
  display: flex;
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav__asset {
  justify-content: space-between;
  padding: 24px;
}

/* Header
*/

.header__description {
  width: 40%;
}
.header__img {
  width: 100%;
  max-width: 768px;
}

.header__description--para {
  font-size: 16px;
  margin: 20px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__customers {
  margin-top: 16px;
  opacity: 0.5;
  padding-right: 128px;
}
.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__customers--title {
  font-size: 12px;
  margin: 48px 0 0;
  font-weight: 700;
  color: #a0aec0;
}
header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

/* Features  

*/

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

#features {
  position: relative;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
  text-align: center;
  margin: 0 auto;
}

.feature__img {
  width: 24px;
  height: 24px;
}

/* Quality 

   */

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

#quality.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

#quality .section__title,
#values .section__title {
  line-height: 1.25;
}

#quality .btn {
  margin-top: 32px;
}


.quality__img {
  z-index: 1;
  
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
}

.quality__description,
.quality__img--wrapper {
  width: 50%;
  
}

.quality__description {
  max-width: 576px;
  margin-right: 64px;
  flex: 1;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

/* STEPS
   */

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.steps__img {
  z-index: 2;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__description,
.steps__img--wrapper {
  width: 50%;
}

.steps__img--wrapper {
  display: flex;
  position: relative;
}

.steps__grid {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  opacity: 0.8;
  z-index: -10;
  color: rgb(100, 21, 255);
  fill: currentColor;
}
.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES */
#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}

.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}

.value__title {
    display: flex;
    align-items: center;
}

#values .btn {
  margin-top: 48px;
}

.value__img {
  width: 20px;
  height: 20px;
}

.values__description,
.values__img {
  width: 50%;
}

/* PRICING */

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

#pricing .section__para {
  max-width: 576px;
  text-align: center;
}

.plans {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}



.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan__name {
  font-size: 20px;
}
.plan__name,
.plan__price,
.plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
  color: #a0aec0;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  color: rgb(26 32 44);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__middle {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2rem;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan__name,
.plan__price,
.plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__top {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
  
.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__button {
  border-radius: 0.25rem;
  background-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: rgb(247 250 252);
  transition: all 300ms ease;
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
button {
  cursor: pointer;
  border: none;
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) .plan__button {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

/* @media (max-width: 768px) {
  nav .row {
    padding-top: 24px;
  }
  #quality .row {
    flex-direction: column;
  }

  .nav__assets {
    display: none;
  }

  .quality__description,
  .quality__img--wrapper {
    width: 100%;
  }

  .feature {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .feature {
    width: 100%;
  }

  .feature__row {
    flex-direction: column;
    align-items: center;
  }
} */


/*  TESTIMONIALS

*/
#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.testimonials__img, .testimonials__description {
    width: 50%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}


.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.fa-star {
    color: rgb(246 173 85);
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

/*  START  
   */

   .start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
      
   }

   .start__row {
    display: flex;
    flex-direction: column;
    
   }

   .start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
   
    
   }

   .start__title, .start__buttons {
    width: 50%;
    
   }

   .start__buttons {
    display: flex;
    gap: 10px;
}

.start__title, .start__buttons {
    width: 50%;
}
.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}


/*  FOOTER 

    */

    footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
    }

    .footer__row {
        display: flex;
        flex-direction: column;
        
    }

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;

   
}


.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}


.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}


.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
    
    }

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
    }

 .footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
    }

.footer__social--link svg {
    height: 16px;
    width: 16px;
    
}

.footer__socials {
    display: flex;
}

    .footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
    }

    
    



