@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    
.purple {
    color: #6415ff;
}

img {
    width: 100%;
    overflow: hidden;
}

.container {
    padding: 96px 0;
    
}



h1 {
    color: black;
    font-size: 30px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

p {
line-height: 1.5;
}


.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;

}

section {
    padding: 0 32px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title, #pricing .section__title {
    text-align: center;
}

.nav__logo {
    display: flex;
}

.nav__link {
    
    
}

.nav_logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    display: flex;
}

.nav__assets {
    display: flex;
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    
}

.nav__asset {
justify-content: space-between;
padding: 24px;
}

/* Header
*/

.header__description {
   width: 40%; 

}
.header__img {
    width: 100%;
    max-width: 768px;
}

.header__description--para {
    font-size: 16px;
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;

}

.header__customers {
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 128px;
    
}
.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__customers--title {
    font-size: 12px;
    margin: 48px 0 0;
    font-weight: 700;
    color: #a0aec0;
    
    
}
header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

/* Features  

*/


#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
      
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}


#features {
    position: relative;
  
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
}

.feature {
    width: calc(100% / 3);
      text-align: center; 
    margin: 0 auto;
   
}

.feature__img {
    width: 24px;
    height: 24px;
}

/* Quality 

   */


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#quality .section__title, #values .section__title {
    line-height: 1.25;
    
}

#quality .btn {
    margin-top: 32px;
}

.quality__img {
    width: 100%;
    z-index: 1;
   
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    
}

.quality__description, .quality__img--wrapper {
    width: 50%;
    
    
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}


/* STEPS
   */

   #steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


.steps__img {
    z-index: 2;
}

.steps__description, .steps__img--wrapper {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}
.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;

}
    
/* VALUES
   */
#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.values__description, .values__img {
    width: 50%;
}

/* VALUES
   */

   #pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   #features .section__title, #pricing .section__title {
    text-align: center;
   }

   #pricing .section__para {
    max-width: 576px;
    text-align: center;
   }

   .plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
   }

   .plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__name {
    font-size: 20px;
}
.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
button {
    cursor: pointer;
    border: none;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}